@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base
{
    :root
    {
        --color-primary   : #5a3e2b;
        --color-secondary : #76453b;
        --color-accent    : #ffebb3;
        --color-dark      : #2d2d2d;
        --color-light     : #fff8e7;
    }

    body
    {
        @apply font-sans antialiased overflow-x-hidden;
    }

    /* 隐藏滚动条但保持功能 */
    .no-scrollbar::-webkit-scrollbar
    {
        display : none;
    }

    .no-scrollbar
    {
        -ms-overflow-style : none;
        scrollbar-width    : none;
    }
}
